{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix HT</th>
                <th>Affiché </th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><img src="{{ asset('images/vinylfilrouge/' ~ product.Photo.getPhotoId() ~ '.' ~ product.Photo.getPhotoFormat())}}" class="cover"></td>
                <td>{{ product.getProdName() }}</td>
                <td>{{ product.getProdDescr() }}</td>
                <td>{{ product.getProdPrice() }}€</td>
                <td>{{ product.getProdDisplay() ? 'Oui' : 'Non' }}</td>
                <td>{{ product.getProdStock() }}</td>
                <td>
                    <a href="{{ path('products_show', {'prod_id': product.getId()}) }}">view more<i class="fas fa-eye"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('products_edit', {'prod_id': product.getId()}) }}"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('cart_add', {'id' : product.getId()}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('products_new') }}">Create new</a>
{% endblock %}
