{% extends 'base.html.twig' %}

{% block title %}user index{% endblock %}

{% block body %}
    <h1>user index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>mail</th>
                <th>last name </th>
                <th>first name</th>
                <th>birthday</th>
                <th>phone</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.userlastname}}</td>
                <td>{{ app.user.userfirstname}}</td>
                <td>{{ app.user.userbirthday|date('d-m-Y')}}</td>
                <td>{{ app.user.userPhone}}</td>
                {#                <td>
                                    <a href="{{ path('user_edit', {'user_id': app.user.id}) }}"><i class="fas fa-edit"></i></a>
                                </td>#}
            </tr>
        </tbody>
    </table>
{% endblock %}
